.css-ahj2mt-MuiTypography-root {
  color: #000 !important;
}
.css-ahj2mt-MuiTypography-root::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}
.css-ahj2mt-MuiTypography-root:hover::after {
  width: 100%;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #000;
}
